body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.geral {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.input-box {
    margin-bottom: 20px;
    
}

.input-field {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.button {
    text-align: center;
}

#button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 400px;
    cursor: pointer;
}

#button:hover {
    background-color: #45a049;
}

.displayitens {
    margin-top: 20px;
}

#display {
    font-size: 14px;
    color: #666;
}